body {
  font-style: heltiva;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  width: 95%;
  height: auto;
  margin: 20px;
  padding: 20px;
  background-color: rgb(238, 233, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titleDiv {
  text-align: center;
  margin: 5px 0 10px;
}

#titleDiv h1 {
  font-size: 28px;
  font-weight: 600;
}

#titleDiv p {
  font-size: 18px;
  font-weight: lighter;
}

#img-div {
  width: 95%;
  height: 90vh;
  margin: 5px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#img-div img {
  width: 80%;
  height: 90%;
  margin: auto;
}

#tribut-info {
  width: 50%;
  height: auto;
}

#tribut-info h3 {
  margin: 20px;
  text-align: center;
}

#tribut-info ul li {
  margin: 15px 5px;
  font-size: 18px;
  line-height: 25px;
}

#quote {
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 18px;
  padding: 5px 25px;
}
